<header>
	<h1 class="apple-font">Projects</h1>
</header>
<p>
	Here's a list of some of my favourite projects!
</p>
<section>
	<div class="row">

	{% for project in projects %}
		{% if selected_project_id != project.id %}
<div class="col-4 col-6-medium col-12-small ">
 <a href="{{url_for('get_project',id=project.id)}}" class="image fit ">

  <img src="{{ project.homepage_thumbnail}}" class=" project-card" alt="">
  <div class="project-name">{{project.name}}</div>
 </a>
</div>
{% endif %}
	{% endfor %}




	</div>
</section>