
<header>
					{% if msg_sent: %}
					<h1 class="message-sent">Successfuly sent message</h1>
					{% else: %}
					<h1 class="apple-font">Contact Me</h1>
					{% endif %}

				</header>



				<form action="#contact" method="post">
					{{ contact_form.csrf_token }}

					<div>
						<div class="row">
							<div class="col-6 col-12-medium">
								{{ contact_form.name()}}
							</div>
							<div class="col-6 col-12-medium">
								{{ contact_form.email() }}

{% if contact_form.email.errors %}
<ul class="errors">
    {% for error in contact_form.email.errors %}
    <li>{{ error }}</li>
    {% endfor %}
{% endif %}
							</div>
							<div class="col-12">
								{{ contact_form.subject() }}
							</div>
							<div class="col-12">
								{{ contact_form.message()}}
							</div>
							<div class="col-12">
								{{ contact_form.submit() }}

							</div>
						</div>
					</div>
				</form>                